<div *ngIf="logeado" class="col-lg-12">
    <div class="main-card mb-12 card">
        <div class="card-body">
            <h5 class="card-title">Lista de cerebros</h5>
            <table class="mb-0 table table-hover">
                <thead>
                    <tr>
                        <th>Sabor</th>
                        <th>IQ</th>
                        <th>Descripcion</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cerebro of cerebros | async" >
                        <td *ngIf="usuariovalido(cerebro)">{{cerebro.flavor}}</td>
                        <td *ngIf="usuariovalido(cerebro)">{{cerebro.iq}}</td>
                        <td *ngIf="usuariovalido(cerebro)">{{cerebro.description}}</td>
                        <td *ngIf="usuariovalido(cerebro)"><img src="{{cerebro.picture}}" alt="Error al cargar" width="70px" height="auto"></td>
                        <td *ngIf="usuariovalido(cerebro)">
                            <button (click)="actualizar(cerebro._id, cerebro.flavor, cerebro.iq, cerebro.description, cerebro.picture, cerebro.usuario)" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target="#UpdateCerebrosModal">Actualizar</button>
                            <button (click)="eliminar(cerebro._id)" class="btn mr-2 mb-2 btn-primary">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn mr-2 mb-2 btn-primary" data-toggle="modal" data-target="#CerebrosModal">
                Agregar cerebro
            </button>
        </div>
    </div>
</div>