<div class="modal fade" id="UpdateZombiesModal" #modal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Zombie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #myForm="ngForm" class="modal-body">
                <div class="position-relative form-group">
                    <label for="nombre" class="">Nombre</label>
                    <input [(ngModel)]="nombre" name="nombre" id="nombre" placeholder="{{this.dataService.zombie[1]}}" type="text" value="" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="email" class="">Email</label>
                    <input [(ngModel)]="email" name="email" id="email" placeholder="{{this.dataService.zombie[2]}}" type="email" value="" class="form-control">
                </div>
                <div class="position-relative form-group">
                    <label for="tipo" class="">Tipo</label>
                    <select [(ngModel)]="tipo" name="select" id="tipo" class="form-control">
                        <option>Alumno zombie</option>
                        <option>Profesor</option>
                    </select>
                </div>
            </form>
            <div class="{{clase}}">
                {{error}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" #closebutton data-dismiss="modal">Cerrar</button>
                <button type="button" (click)="actualizarZombie(myForm)" class="btn btn-primary">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>