
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/css/all.min.css">
    <title>header</title>
</head>
<body>
    <div class="menu">
  <div class="label">Escuela de muerte</div>
  <div class="spacer"></div>
  <div class="item"><a href="/"><span>Zombies</span></a></div>
  <div class="item"><span>Cerebros</span></div>
  <div class="item"><span>Otro</span></div>
  <div class="item"><span>Falta uno</span></div>
  <div class="item"><span>Proximamente</span></div>
</div>
</body>
</html>



