<div *ngFor="let cerebro of cerebros | async"><div>{{registro(cerebro)}}</div></div>

<div class="card-body"><h5 class="card-title">Graficas de cerebros</h5>
    <div class="card-subtitle">Cerebros por sabor</div>
    <div *ngFor="let cerebro of cerebros | async" class="mb-3 progress" style="height: 20px;">
        <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar"
        [ngStyle]="{'width': porcentajesabor(cerebro.flavor)}" style="font-size: 15px;">
            {{cerebro.flavor}}
        </div>
    </div>

    <div class="card-subtitle">Cerebros por usuario</div>
    <div *ngFor="let cerebro of cerebros | async" class="mb-3 progress" style="height: 20px;">
        <div class="progress-bar progress-bar-animated bg-success progress-bar-striped" role="progressbar"
        [ngStyle]="{'width': porcentajeusuario(cerebro.usuario)}" style="font-size: 15px;">
            {{cerebro.usuario}}
        </div>
    </div>
</div>